body {
    background-color: #DBEBD6;
}
h1 {
    text-align: center;
}
.employeeimg {
    height:100px;
    width:100px;
    border-radius: 50%;
    margin-top: 2em;
    background: bisque;
    text-align: center;
}
.employeename {
    font-weight: bold;
    font-size: 2em;
}
.flexbox {
    display: flex;
    flex-flow: row wrap;
}
.rolestyle {
    display: inline-block;
    width: 8em;
    margin: 1em 1em;
}
.flexitem {
    border: 1px grove;
    flex: 1 0 0;
    margin: 1em 3em;
    text-align: center;
    background-color: #E3F9B3;
}
.flexitem div {
    padding: 0.5em;
}
