@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Lobster&display=swap');
body {
    background-color: #EFFBF7;
}
h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
}
.employeeimg {
    height:100px;
    width:100px;
    border-radius: 50%;
    margin-top: 2em;
    background: bisque;
    text-align: center;
}
.employeename {
    font-weight: bold;
    font-size: 2em;
    font-family: 'Lobster', cursive;
}
.flexbox {
    display: flex;
    flex-flow: row wrap;
}
.rolestyle {
    display: inline-block;
    width: 8em;
    margin: 1em 1em;
}
.flexitem {
    border: 5px ridge;
    flex: 1 0 0;
    margin: 1em 3em;
    text-align: center;
    background-color: ivory;
    border-radius: 30px;
    font-family: 'Lato', sans-serif;
}
.flexitem div {
    padding: 0.5em;
}
